* {
  font-family: "Montserrat", sans-serif;
}
.productDetails_page_main {
  max-width: 1600px;
  min-width: 1128px;
  margin: 60px auto 0;
  position: relative;
  min-height: 700px;
  padding-bottom: 15px;
  padding-left: 28px;
  padding-right: 28px;
  background-color: #fff;
}
.links {
  padding: 29px 0 22px;
  font-size: 12px;
  color: #282c3f;
  display: inline-block;
  padding-bottom: 1px;
}
.productDetails {
  display: flex;
}
.links {
  display: block;
  padding: 29px 0 22px;
  font-size: 14px;
}
.left_details {
  display: flex;
  justify-content: space-between;
  box-sizing: content-box;
  row-gap: 17px;
  flex-wrap: wrap;
  width: 58%;
}
.left_details .image {
  width: 49%;
  max-height: 600px;
}
.left_details .image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.right_details {
  width: 40%;
  padding: 0 0 0 30px;
  box-sizing: border-box;
}
.product_brand {
  margin-top: 0;
  margin-bottom: 0;
  color: #282c3f;
  padding: 0 20px 0 0;
  font-size: 24px;
  font-weight: 700;
  line-height: 1;
}
.product_name {
  color: #535665;
  padding: 5px 20px 14px 0;
  font-size: 20px;
  opacity: 0.8;
}
.overAll_rating_container {
  border-bottom: 1px solid #eaeaec;
}
.overAll_rating {
  display: flex;
  margin-bottom: 12px;
  padding: 8px;
  justify-content: center;
  align-items: center;
  height: 29px;
  width: 40%;
  border: 1px solid #eaeaec;
  border-radius: 2px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  color: #282c3f;
}
.rating_counts {
  margin-left: 8px;
  font-weight: 400;
  color: #535766;
  width: fit-content;
}
.price_discounts {
  color: #696e79;
  font-size: 14px;
  margin-top: 14px;
  margin-bottom: 5px;
  display: inline-block;
}
.discounted_price {
  color: #282c3f;
  margin-right: 12px;
  font-size: 24px;
  font-weight: 700;
  line-height: 1;
  cursor: pointer;
}
.price {
  opacity: 0.8;
  font-size: 20px;
  color: #282c3f;
  margin-right: 12px;
  text-decoration: line-through;
}
.discounted_percentage {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.5px;
  color: #ff905a;
}
.vat_info {
  font-size: 16px;
  margin: 0 0 10px;
  color: #03a685;
  font-weight: 700;
  font-size: 14px;
  display: block;
  margin: 5px 10px 0 0;
}
.size_chart_container {
  margin: 10px 0 24px;
}
.size_headers {
  margin: 0 0 10px;
  display: flex;
}
.size_headers h4 {
  font-size: 16px;
  margin: 0;
  font-weight: 700;
}
.size_chart {
  display: flex;
  justify-content: center;
  margin-left: 30px;
  border: 0;
  letter-spacing: 0.5px;
  text-align: right;
  padding: 0 0 5px;
  color: #ff3e6c;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 0;
}
.size_buttons {
  display: flex;
  gap: 10px;
}
.size_buttons .button {
  background-color: #fff;
  border: 1px solid #bfc0c6;
  border-radius: 50px;
  padding: 0;
  width: 50px;
  height: 50px;
  text-align: center;
  cursor: pointer;
  color: #282c3f;
}
.addToBagAndWishlist_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  gap: 10px;
}
.addToBag {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 0;
  margin-right: 3%;
  border-radius: 4px;
  text-transform: uppercase;
  min-height: 22px;
  width: 60%;
  gap: 10px;
  font-weight: 600;
  cursor: pointer;
  border: 1px solid #ff3e6c;
  background-color: #ff3e6c;
  color: #fff;
}
.wishlist {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 0;
  border-radius: 4px;
  gap: 10px;
  text-transform: uppercase;
  text-transform: uppercase;
  border: 1px solid #d4d5d9;
  width: 40%;
  min-height: 22px;
  background-color: #fff;
  cursor: pointer;
}
